{%  extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6 ">
           <a    href={% url 'post-detail' object.pk %}> Back to view Post</a>
           

        </div>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12 border-bottom">
           <h5>  Update Your Post !</h5>
           

        </div>

    </div>
    <div class="row justify-content-center mb-5 mt-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form  method="post" enctype='multipart/form-data'>{% csrf_token %}
              {{form}}
             
           <div class=" d-grid gap-5 justify-content-start">
            <div   class ='col-1'>
            <button   class="btn   btn-success mb-2 mt-2"> Update</button>
           </div>
            </div>
            
        </div>

    </div>
   
</div>

{% endblock content %}